meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='description' content='Patra Logistik')
meta(name='keywords' content='patra logistik')
meta(name='author' content='pixelstrap')
link(rel='icon' href='/assets/images/favicon.png' type='image/x-icon')
link(rel='shortcut icon' href='/assets/images/favicon.ico' type='image/x-icon')
title Patra Logistik
// Google font
link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap' rel='stylesheet')
link(rel='stylesheet' type='text/css' href='/assets/css/font-awesome.css')
// ico-font
link(rel='stylesheet' type='text/css' href='/assets/css/vendors/icofont.css')
// Themify icon
link(rel='stylesheet' type='text/css' href='/assets/css/vendors/themify.css')
// Flag icon
link(rel='stylesheet' type='text/css' href='/assets/css/vendors/flag-icon.css')
// Feather icon
link(rel='stylesheet' type='text/css' href='/assets/css/vendors/feather-icon.css')
// Plugins css start
link(rel='stylesheet' type='text/css' href='/assets/css/vendors/slick.css')
link(rel='stylesheet' type='text/css' href='/assets/css/vendors/slick-theme.css')
link(rel='stylesheet' type='text/css' href='/assets/css/vendors/scrollbar.css')
link(rel='stylesheet' type='text/css' href='/assets/css/vendors/animate.css')
link(rel='stylesheet' type='text/css' href='/assets/css/vendors/prism.css')
// Plugins css Ends
// Bootstrap css
link(rel='stylesheet' type='text/css' href='/assets/css/vendors/bootstrap.css')
// App css
link(rel='stylesheet' type='text/css' href='/assets/css/style.css')
link#color(rel='stylesheet' href='/assets/css/color-1.css' media='screen')
// Responsive css
link(rel='stylesheet' type='text/css' href='/assets/css/responsive.css')
// Datatable
link(rel='stylesheet' type='text/css' href='/assets/css/vendors/datatables.css')
// Swal
link(rel='stylesheet' type='text/css' href='/assets/css/vendors/sweetalert2.css')
link(rel='stylesheet' type='text/css' href='/assets/css/responsive.css')
link(rel='stylesheet' type='text/css' href='/assets/css/vendors/flatpickr/flatpickr.min.css')

