.fixed-navbar
  .pull-left
    button.menu-mobile-button.glyphicon.glyphicon-menu-hamburger.js__menu_mobile(type='button')
    h1.page-title Home
  .pull-right
    .ico-item.fa.fa-arrows-alt.js__full_screen(style='color: white')
    a.ico-item.fa.fa-power-off.js__logout(href=`/logout` style='color: white')