<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Islamic Cyber Dentistry</title>
  <meta property="og:title" content="Islamic Cyber Dentistry" />
  <meta property="og:url" content="https://icd.azuralabs.id" />
  <meta property="og:description" content="Learn anywhere, anytime, by yourself">
  <meta property="og:image" content="/assets/images/logo.jpg">
  <meta property="og:type" content="website" />
  <link rel="icon" href="/assets/images/logo.jpg">
  <link rel="stylesheet" href="dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="dist/css/home.css">
</head>
<body class="body">

  <nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand pl-4 pt-2" href="#">
        <img src="assets/images/logo-transparent.png" height="40">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>      

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active text-white font-14" href="#feature">Fitur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white font-14" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white font-14" href="https://play.google.com/store/apps/details?id=id.ac.unissula.fkg.icd">Download</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="header" class="header-gradient-container">

    <div class="header-gradient"></div>
    <div class="container container-fluid">
      <div class="row header-container">
        <div class="col-lg-8 col-12">
          <img src="assets/images/main2.png" width="100%">
        </div>
        <div class="col-lg-4 col-12 header-content">
          <div class="text-white font-26 font-semi-bold">Temukan Kemudahan <br /> dalam proses perkuliahan</div>
          <h5 class="text-white mt-3 font-weight-2 font-14">Unduh sekarang juga, tersedia  di Google Playstore</h5>
          <a href="https://play.google.com/store/apps/details?id=id.ac.unissula.fkg.icd">
            <img src="assets/images/google_play.png" width="150" alt="" style="margin-top: 20px">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="feature-container container" id="feature">
    <div class="bg-img-card">
      <div class="container text-center">
        <h3 class="text-center text-leafy-green font-26 font-semi-bold">Fitur Layanan</h3>
        <div class="row">
          <div class="col-lg-4 col-12 feature-box">
            <img class="feature-card-image" src="assets/images/illustration_2.jpg" alt="">
            <div class="card text-center feature-card">
              <h4 class="text-leafy-green mb-0">Administrasi</h4>
              <div class="text-center">
                <hr class="hr-style-0 ml-4 mb-0" width="80%">
                <hr class="hr-style-1">
              </div>
              <p class="font-10 text-warm-grey">
                Memberikan kemudahan dalam <br/>
                pelayanan administrasi
              </p>
            </div>
          </div>
    
          <div class="col-lg-4 col-12 feature-box">
            <img class="feature-card-image" src="assets/images/illustration_3.jpg" alt="">
            <div class="card text-center feature-card">
              <h4 class="text-leafy-green mb-0">Perkuliahan</h4>
              <div class="text-center">
                <hr class="hr-style-0 ml-4 mb-0" width="80%">
                <hr class="hr-style-1">
              </div>
              <p class="font-10 text-warm-grey">
                Mahasiswa dapat belajar mandiri <br/>
                dan mengikuti kelas dimanapun berada
              </p>
            </div>
          </div>
    
          <div class="col-lg-4 col-12 feature-box">
            <img class="feature-card-image" src="assets/images/illustration_1.jpg" alt="">
            <div class="card text-center feature-card">
              <h4 class="text-leafy-green mb-0">Informasi</h4>
              <div class="text-center">
                <hr class="hr-style-0 ml-4 mb-0" width="80%">
                <hr class="hr-style-1">
              </div>
              <p class="font-10 text-warm-grey">
                Informasi terkini mengenai beasiswa,<br/>
                event di Unissula
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-leafy-green text-center font-semi-bold h5 mb-5">
    <span>Bismillah membangun generasi khaira ummah</span><br>
    <span>Tour Gateway to Global Network</span>
  </div>
  
  <div class="bg-dark-turquoise" id="contact">
    <div class="container">
      <h3 class="text-leafy-green pt-5 font-weight-3">Contact</h3>

      <div class="row pt-3 pb-5">
        <div class="col-lg-7 col-12 row">
          <div class="col-lg-6 col-sm-12 maps">
            <iframe class="maps" width="100%" height="300px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.460048449832!2d110.45638741487281!3d-6.954933470023993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e70f322f377b3b5%3A0x16215f4ab8243a4d!2sUnissula+-+Universitas+Islam+Sultan+Agung!5e0!3m2!1sen!2sid!4v1566086595787!5m2!1sen!2sid" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-lg-6 col-sm-12">
            <h3 class="font-weight-2 text-white-two">More Information <br> about App</h3>
            <div class="mt-3 font-12 text-white-two">
              <div>Universitas Islam Sultan Agung</div>
              <div>Jl. Kaligawe Raya Street Km.4</div>
              <div>Semarang-Central Java</div>
              <div>50112</div>
              <div>PO Box 1054/SM</div>
              <div>Indonesia</div>
            </div>
          </div>
        </div>

        <div class="col-lg-5 col-sm-12 text-white-two contact-form">
          <form action="">
            <div class="form-row">
              <div class="form-group col-lg-8">
                <input type="text" class="form-control border-success form-input" name="" id="">
              </div>
              <div class="form-group col-lg-4">
                <button type="submit" class="btn btn-success">subscribe</button>
              </div>
            </div>
          </form>

          <div class="row font-12 mt-2">
            <div class="col-12 col-md-6">
              <div class="flex mt-3">
                <img class="mr-2" src="assets/images/noun_call_1929650.png" width="16px" height="16px">
                <div>Telp. (024)6583584</div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="flex mt-3">
                <img class="mr-2" src="assets/images/email.png" width="16px" height="16px">
                <div>informasi@unissula.ac.id</div>
              </div>
            </div>
          </div>

          <div class="row font-12">
            <div class="col-12 col-md-6">
              <div class="flex mt-3">
                <img class="mr-2" src="assets/images/noun_fax_99449.png" width="16px" height="16px">
                <div>Fax. (024)6892455</div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="flex mt-3">
                <img class="mr-2" src="assets/images/noun_web_2567884.png" width="16px" height="16px">
                <a href="http://unissula.ac.id" class="align-middle" >http://unissula.ac.id</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <footer class="bg-dark-turquoise text-white font-12">
    <div class="container">
      <div class="row pt-3 pb-3">
        <div class="col-lg-6 col-sm-12">
          <p class="text-center">
            <a href="/landing/terms.html" class="text-white">Ketentuan Layanan</a><strong class="pl-3 pr-3">|</strong> <a href="/landing/privacy.html" class="text-white">Kebijakan Privasi</a>
          </p>
        </div>
        <div class="col-lg-6 col-sm-12">
          <p class="text-center">@IslamicCyberDentistry2019</p> 
        </div>
      </div>
    </div>
  </footer>
  
<!-- <script src="dist/js/bootstrap.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
  window.onscroll = () => onScroll();

  const updateNavLink = (color) => {
    const navLinks = document.getElementsByClassName("nav-link");
    for (var i = 0; i < navLinks.length; i++) {
      navLinks[i].style.color = color;
    }
  }

  const onScroll = () => {
    if (document.documentElement.scrollTop > 100) {
      document.getElementById("navbar").style.backgroundColor = "#53b33b";
      updateNavLink("white");
    } else {
      document.getElementById("navbar").style.backgroundColor = "";
      updateNavLink("");
    }
  }
</script>
</body>
</html>