<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Islamic Cyber Dentistry</title>
    <meta property="og:title" content="Islamic Cyber Dentistry" />
    <meta property="og:url" content="https://icd.azuralabs.id" />
    <meta property="og:description" content="Learn anywhere, anytime, by yourself">
    <meta property="og:image" content="/assets/images/logo.jpg">
    <meta property="og:type" content="website" />
    <link rel="icon" href="/assets/images/logo.jpg">
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/home.css">
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
        <a class="navbar-brand pl-4 pt-2" href="#">
            <img src="assets/images/logo-transparent.png" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>      

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active text-white font-14" href="/landing">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white font-14" href="https://play.google.com/store/apps/details?id=id.ac.unissula.fkg.icd">Download</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>

    <div class="bg-img-privacy pt-5 pb-5">
        <div class="container-fluid mt-5">
            <h2 class="text-center text-white">Kebijakan Privasi</h2>
            <div class="container mt-5">
                <div class="card card-border p-3">
                    <div>
                        <p class="m-0 text-leafy-green"><strong>Privacy Policy</strong></p>
                        <p class="text-leafy-green">Effective: August 1, 2019</p>
                        <p>
                            Dengan menggunakan layanan Islamic Cyber Dentistry , Anda memercayakan informasi Anda kepada kami. Kebijakan Privasi ini bertujuan untuk membantu Anda memahami data yang kami kumpulkan, alasan kami mengumpulkannya, dan yang kami lakukan dengan data tersebut. Kami harap Anda meluangkan waktu untuk membacanya dengan saksama. Dengan menggunakan Aplikasi kami, maka Anda telah setuju dengan dokumen Kebijakan Privasi ini dan dokumen Term of Service.
                        </p>
                    </div>
                    <div>
                        <p class="m-0 text-leafy-green"><strong>Informasi Apa Saja Yang Kami Simpan</strong></p>
                        <div>Kami mengumpulkan informasi berikut terkait aktifitas Anda di Aplikasi kami:</div>
                        <p class="text-leafy-green">Informasi Personal yang Anda Berikan</p>
                        <div>Kami dapat memperoleh dan menyimpan informasi yang Anda berikan ketika menggunakan Aplikasi kami. Informasi ini misalnya adalah data profile Anda seperti nama, email, nomor telepon, dan informasi profile Anda lainnya. </div>
                        <p class="text-leafy-green">Informasi Personal yang Diperoleh Secara Otomatis</p>
                        <div>Kami juga menyimpan beberapa informasi yang berhubungan dengan aktifitas Anda selama menggunakan Aplikasi. Informasi ini diperoleh secara otomatis untuk membantu kami meningkatkan kualitas dari layanan yang diberikan oleh Islamic Cyber Dentistry kepada Anda. Informasi ini misalnya halaman apa saja yang Anda buka, waktu aktifitas, Alamat IP dari media yang Anda gunakan.</div>
                        
                        <p class="m-0 text-leafy-green"><strong>Bagaimana Kami Menjaga Keamanan dari Informasi</strong></p>
                        <div>Kami mengupayakan dengan sungguh-sungguh dalam menjaga keamanan dari informasi yang kami peroleh. Kami mengupayakan agar informasi yang dikirim melalui internet dan yang disimpan oleh Aplikasi tetap aman. Kami terus mengupayakan untuk menggunakan pendekatan-pendekatan terbaik agar informasi Anda tidak dicuri.</div>
                        <div>Misalnya, kami menyimpan password Anda dalam bentuk acak (menggunakan mekanisme Hashing), sehingga password Anda tidak disimpan dalam bentuk aslinya. Kami juga membatasi akses ke sumber data Anda.</div>
                        <div>Meskipun kami mengusahakan dengan sungguh-sungguh keamanan dari data yang kami peroleh, kami tidak dapat menjamin bahwa pendekatan di atas memberikan keamanan secara absolut.</div>
                        
                        <p class="m-0 text-leafy-green"><strong>Bagaimana Kami Menggunakan Informasi Di Atas</strong></p>
                        <div>Kami menggunakan informasi yang dikumpulkan dari semua layanan kami untuk memasok, memelihara, melindungi, dan menyempurnakan, untuk mengembangkan layanan yang baru, serta untuk melindungi Islamic Cyber Dentistry dan pengguna kami. Kami juga menggunakan informasi ini untuk menawarkan layanan kami yang sesuai dan relevan dengan Anda.</div>
                        <div>Kami dapat menggunakan alamat email Anda untuk menginformasikan layanan kami, misalnya memberi tahu Anda tentang perubahan atau perbaikan yang akan datang. Kami menggunakan informasi yang dikumpulkan dari cookie dan teknologi lainnya, untuk meningkatkan pengalaman pengguna dan kualitas layanan secara keseluruhan. Kami akan meminta persetujuan Anda sebelum menggunakan informasi untuk tujuan selain dari yang ditentukan di Kebijakan Privasi ini.</div>
                        
                        <p class="m-0 text-leafy-green"><strong>Apakah Islamic Cyber Dentistry Akan Membagikan Informasi yang Diperolehnya ?</strong></p>
                        <div>Kami tidak membagikan informasi pribadi dengan perusahaan, organisasi, dan individu di luar Islamic Cyber Dentistry kecuali salah satu keadaan berikut berlaku:</div>
                        <li>Dengan persetujuan Anda. Kami akan membagi informasi pribadi dengan perusahaan, organisasi, dan individu di luar Islamic Cyber Dentistry. Kami memerlukan persetujuan keikutsertaan untuk berbagi informasi pribadi yang sensitif.</li>
                        <li>Untuk tujuan hukum. Kami akan membagikan informasi pribadi dengan perusahaan, organisasi, dan individu di luar Islamic Cyber Dentistry jika kami berkeyakinan dengan itikad baik bahwa akses, penggunaan, penyimpanan, atau pengungkapan informasi tersebut perlu untuk:
                            <ul>
                                <li>memenuhi hukum, peraturan, dan proses hukum yang berlaku atau permintaan pemerintah yang wajib dipenuhi.</li>
                                <li>mendeteksi, mencegah, atau menangani pelanggaran potensial, penipuan, keamanan, atau masalah teknis.</li>
                                <li>melindungi dari ancaman terhadap hak, properti atau keamanan Islamic Cyber Dentistry, pengguna kami atau publik.</li>
                            </ul>
                        </li>
                        <div>Kami dapat membagikan informasi non-pribadi yang dapat teridentifikasi kepada publik dan mitra kami. Misalnya, kami dapat membagikan informasi secara publik untuk menunjukkan tren mengenai penggunaan umum atas layanan kami.</div>
                        <div>Apabila Islamic Cyber Dentistry terlibat dalam sebuah penggabungan, pengambilalihan, atau penjualan aset, kami akan tetap memastikan kerahasiaan informasi pribadi dan memberitahu pengguna yang terpengaruh sebelum informasi pribadi tersebut dialihkan atau menjadi subjek kebijakan privasi yang berbeda.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="bg-greyish_brown text-white font-14">
        <div class="container">
        <div class="row pt-3">
            <div class="col-lg-6 col-sm-12">
            <p class="text-center">
                <a href="/landing/terms.html" class="text-white">Ketentuan Layanan</a><strong class="pl-3 pr-3">|</strong> <a href="/landing/privacy.html" class="text-white">Kebijakan Privasi</a>
            </p>
            </div>
            <div class="col-lg-6 col-sm-12">
            <p class="text-center">@IslamicCyberDentistry2019</p> 
            </div>
        </div>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 180) {
            document.getElementById("navbar").style.backgroundColor = "#53b33b";
        } else {
            document.getElementById("navbar").style.backgroundColor = "";
        }
    }
    </script>
</body>
</html>