<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Islamic Cyber Dentistry</title>
    <meta property="og:title" content="Islamic Cyber Dentistry" />
    <meta property="og:url" content="https://icd.azuralabs.id" />
    <meta property="og:description" content="Learn anywhere, anytime, by yourself">
    <meta property="og:image" content="/assets/images/logo.jpg">
    <meta property="og:type" content="website" />
    <link rel="icon" href="/assets/images/logo.jpg">
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/home.css">
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
        <a class="navbar-brand pl-4 pt-2" href="#">
            <img src="assets/images/logo-transparent.png" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>      

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active text-white font-14" href="/landing">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white font-14" href="https://play.google.com/store/apps/details?id=id.ac.unissula.fkg.icd">Download</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>

    <div class="bg-img-privacy pt-5 pb-5">
        <div class="container-fluid mt-5">
            <h2 class="text-center text-white">Aturan dan Syarat Penggunaan</h2>
            <div class="container mt-5">
                <div class="card card-border p-3">
                    <div>
                        <p class="m-0 text-leafy-green">
                            <strong>Terkait Program Islamic Cyber Dentistry </strong>
                        </p>
                        <ul>
                            <li>Program Islamic Cyber Dentistry  hanya terbuka untuk dosen dan mahasiswa unissula.</li>
                            <li>Islamic Cyber Dentistry  berhak untuk menonaktifkan sementara, menonaktifkan secara permanen, dan menghapus akun Islamic Cyber Dentistry  apabila pada akun atau perilaku pengguna akun tersebut ditemukan kejanggalan, atau usaha untuk melakukan kecurangan dan ketidakjujuran dalam program ini.</li>
                        </ul>
                    </div>
                    <div>
                        <p class="m-0 text-leafy-green">
                            <strong>Terkait Program Islamic Cyber Dentistry  dan materi pembelajaran di Islamic Cyber Dentistry.</strong>
                        </p>
                        <ul>
                            <li>Pembelajaran di Islamic Cyber Dentistry  bisa diakses secara online.</li>
                            <li>Pembelajaran di Islamic Cyber Dentistry  adalah melalui media video, text dan audio.</li>
                            <li>Akun Dosen di Islamic Cyber Dentistry  berhak mengubah/mengurangi/menghapus materi pembelajaran dan lain hal di masa depan apabila terjadi ketidaksesuaian materi yang disampaikan dan masalah lainnya.</li>
                            <li>Akun Dosen di Islamic Cyber Dentistry  menyediakan materi pembelajaran video tutorial di mana member bisa langsung praktek setelah menonton video tutorial tersebut.</li>
                            <li>Semua materi belajar pemrograman di Islamic Cyber Dentistry  mengandung hak cipta. Semua pelanggaran terkait hak cipta akan diproses secara hukum.</li>
                        </ul>
                    </div>
                    <div>
                        <p class="m-0 text-leafy-green">
                            <strong>Terkait Program Islamic Cyber Dentistry  dan Forum Tanya Jawab.</strong>
                        </p>
                        <ul>
                            <li>Islamic Cyber Dentistry  menyediakan Forum Tanya jawab khusus mahasiswa dan dosen.</li>
                            <li>Dosen dan mahasiswa dipersilakan untuk bertanya seputar materi yang telah diberikan oleh Islamic Cyber Dentistry.</li>
                            <li>Dosen dan mahsiswa dilarang untuk menyebarkan berita hoax/spam/berjualan di forum tanya jawab Islamic Cyber Dentistry .</li>
                            <li>Islamic Cyber Dentistry  berhak untuk tidak mempublikasi atau bahkan menghapus pertanyaan-pertanyaan yang tidak bersesuaian dengan topik dan aturan Forum Tanya Jawab.</li>
                            <li>Dosen dan Mahasiswa bisa menjawab pertanyaan yang diajukan oleh dosen dan mahasiswa lainnya.</li>
                        </ul>
                    </div>
                    <div>
                        <p class="m-0 text-leafy-green">
                            <strong>Apabila ditemukan kejanggalan atau usaha-usaha kecurangan, Islamic Cyber Dentistry  berhak untuk:</strong>
                        </p>
                        <ul>
                            <li>Menonaktifkan (sementara/permanen), atau menghapus semua akun Islamic Cyber Dentistry yang terlibat atau dicurigai terlibat.</li>
                            <li>Menghilangkan hak pengguna yang dimilikinya.</li>
                            <li>Melakukan pencabutan hak seseorang untuk berpartisipasi pada program ini.</li>
                            <li>Melakukan pencatatan dan pencegahan atas alamat email dan nomor telepon untuk aktivasi akun selanjutnya.</li>
                            <li>Melakukan pencegahan atas sebuah detil identitas untuk berpartisipasi dan aktivasi akun selanjutnya.</li>
                        </ul>
                    </div>
                    <p class="m-0 text-leafy-green">
                        <strong>Aturan dan Syarat penggunaan ini dapat berubah sewaktu-waktu secara sepihak, dengan atau tanpa pemberitahuan terlebih dahulu.</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="bg-greyish_brown text-white font-14">
        <div class="container">
        <div class="row pt-3">
            <div class="col-lg-6 col-sm-12">
            <p class="text-center">
                <a href="/landing/terms.html" class="text-white">Ketentuan Layanan</a><strong class="pl-3 pr-3">|</strong> <a href="/landing/privacy.html" class="text-white">Kebijakan Privasi</a>
            </p>
            </div>
            <div class="col-lg-6 col-sm-12">
            <p class="text-center">@IslamicCyberDentistry2019</p> 
            </div>
        </div>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 180) {
            document.getElementById("navbar").style.backgroundColor = "#53b33b";
        } else {
            document.getElementById("navbar").style.backgroundColor = "";
        }
    }
    </script>
</body>
</html>