- var static = true
doctype html
include ../partials/copyright.pug
html(lang='en')
  head
    base(href=base)
    include ../partials/head.pug

.loader-wrapper
  .loader
    .loader4

.tap-top
  i(data-feather='chevrons-up')

#pageWrapper.page-wrapper.compact-wrapper 

  include ../partials/header.pug

  .page-body-wrapper.horizontal-menu 
    include ../partials/sidebar.pug
    .page-body
      .container-fluid
      block content
  block modal
    footer.footer
      .container-fluid
        .row
          .col-md-12.footer-copyright.text-center
            p.mb-0 Copyright 2024 &copy; Patra Logistik

include ../partials/scripts.pug